<h1><%= @tasmanian_devil.name %></h1>
<div class="image">
  <%= image_tag @tasmanian_devil.image %>
</div>
<div class="audio">
  <%= audio_tag @tasmanian_devil.sound, :controls => true %>
</div>
<div class="description">
  <%= @tasmanian_devil.description %>
</div>